/* Style sheet created by: Julia Naranjo, Last edited 3/21/2022 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Style for image */
.retina {
	float: left;
	max-width: 100%; /*------Rule for fluid image------*/
	height: auto;
	width: 250px;
	margin-right: 3%;
	margin-bottom: 2%;
}

/*-----Styles for mobile layout------*/

/*Style for mobile class*/
.mobile {
	display: inline;
}

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Style hides the tablet class */
.tablet {
	display: none;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #FFFFFF;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

#outerwrapper {
	font-family: Futura, Arial, sans-serif;
	width: 100%;
	margin: 0 auto 0 auto;
}

/*.myname {
	font-family: Futura, Calibri, sans-serif;
	font-size: 2em;
}*/

.myname {
	font-family: 'Abril Fatface', cursive;
	font-size: 4em;
	text-shadow: 0.2em 0.1em #DBDBDB;
}

.clearfloat {
	clear: both;
}

/* Style for images in figure element */
figure img {
	margin: 1%;
	padding: 1%;
}

/* Style for article element */
article {
	float: left;
	margin: 1%;
	width: 48%;
}

/* Style for section element */
section {
	padding-left: 2em;
}

#main {
	background-color: #FFFFFF;
	padding: 3%;
	border: 2px black solid;
	border-radius: 25px;
	border-right: solid 0.3em #000000;
	border-bottom: solid 0.3em #000000;
	margin-top: 0.5em;	
	padding: 2em;
	overflow: auto;
}

footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

/* Style rule for the video class */
.video {
	padding: 1em;
	text-align: center;
}

/* Style rule for video element */
video {
	height: auto;
	max-width: 100%;
	}

/* Media query for tablet viewport targets screen size with a minimum width of 660px */
@media only screen and (min-width: 660px) {

	/* Style specifies a horizontal display for navigation links */
	nav li {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 18%;
		white-space: nowrap;
	}

	/* Style specifies clear and top margin properties for the main element */
	#main {
		clear: left;
		margin-top: 4em;
	}

	/* Style specifies to hide the desktop class */
	.desktop {
		display: none;
	}

	/* Style displays the mobile class */
	.mobile {
		display: inline;
	}

	/* Style displays the mobile class */
	.tablet {
		display: inline;
	}

	/* Style for table element */
	table {
		border: 0.1em solid #000000;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	/* Style specifies border and padding for th and td elements */
	th, td {
		border: 0.1em solid #000000;
		padding: 0;
	}

	/* Style for th element */
	th {
		color: #404040;
	}

	/* Style for caption element */
	caption {
		font-size: 1em;
		padding-bottom: 0.5em;
		padding-top: 1em;
	}

	/* Style rule for form element */
	form {
		background-color: #EBEBEB;
		padding: 1em;
		width: 90%;
	}

	/* removes bullets */
	form ul {
		list-style-type: none;
	}
}

/* Media query for desktop viewport targets screens with a minimum width of 830px. */
@media only screen and (min-width: 830px) {

	#outerwrapper {
		width: 80%;
	}
	
	/* Style specifies a width for container */
	#container {
		width: 80%;
	}

	/* Style for navigation list items specifies a border radius, border, margin, width, and padding */
	nav li {
		text-align: center;
		border-radius: 25px;
		border-top: solid #000000;
		border-bottom: solid #000000;
		border-right: solid #000000;
		border-left: solid #000000;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 16%;
	}

	/* Style for navigation links specifies display and padding */
	nav li a {
		display: inline-block;
		padding: 0.7em;
	}

	/* Style specifies border, box shadow, and margins for the main element */
	#main {
		border-style: none;
		box-shadow: 0.5em 0.5em 0.5em #404040;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	/* Style specifies left and right padding for paragraph elements within the main element */

	main p {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	/* Style rules for pseudo-classes */
	nav li a:link {
		color: #000000;
	}

	nav li a:visited {
		color: #753131;
	}

	nav li a:hover {
		color: #FFFF00;
		font-style: italic;
	}

	nav li a:active {
		color: #6112FF;
	}

	/* Style specifies a gradient for the body element */
	body {
		background: -moz-linear-gradient(#FFFFFF, #B3B3B3); /* Firefox */
		background: -o-linear-gradient(#FFFFFF, #B3B3B3); /* Opera */
		background: -webkit-linear-gradient(#FFFFFF, #B3B3B3); /* Chrome, Safari */
		background: linear-gradient(#FFFFFF, #B3B3B3);
		background-attachment: fixed;
	}

	/* Style specifies to hide the mobile class */
	.mobile {
		display: none;
	}

	/* Style displays the desktop class */
	.desktop {
		display: inline;
	}

	/* Style displays the tablet class */
	.tablet {
		display: inline;
	}

	/* Style for table element */
	table {
		border: 0.1em solid #000000;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	/* Style specifies border and padding for th and td elements */
	th, td {
		border: 0.1em solid #000000;
		padding: 1em;
	}

	/* Style for th element */
	th {
		color: #404040;
	}

	/* Style for caption element */
	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding-bottom: 0.5em;
		padding-top: 1em;
	}

	/* Style rule for form element */
	form {
		background-color: #EBEBEB;
		padding: 1em;
	}

	/* removes bullets */
	form ul {
		list-style-type: none;
	}
	
	/* Style rule for paragraph with form element */
	form p {
		color: #000000;
	}
}